/* Color Variables*/
/* Border radius variable */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body #root {
  background-color: #6598d3;
  color: black;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #root #quote-box {
  background-color: #3838da;
  width: 40%;
  height: 40%;
  border-radius: 1.3em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
      grid-template-areas: ". . . . . . . . . . . ." ". g g g g g g g g g g ." ". g g g g g g g g g g ." ". g g g g g g g g g g ." ". t t . . b b . . a a ." ". . . . . . . . . . . .";
}

body #root #quote-box #text {
  background-color: #689299;
  border-radius: 1.3em;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-area: g;
}

body #root #quote-box #author {
  background-color: #4068b1;
  border-radius: 1.3em;
  -ms-grid-row: 5;
  -ms-grid-column: 10;
  -ms-grid-column-span: 2;
  grid-area: a;
}

body #root #quote-box button {
  background-color: #caa9a9;
  border-radius: 1.3em;
  -ms-grid-row: 5;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-area: b;
}

body #root #quote-box #tweet-quote {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: t;
  border-radius: 1.3em;
  color: #0099cc;
}

@media (max-width: 500px) {
  body #root {
    background-color: aqua;
    color: black;
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body #root #quote-box {
    background-color: blue;
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    grid-gap: 0.8em;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: (1fr)[8];
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas: ". . . . . . . . . . . ." ". g g g g g g g g g g ." ". g g g g g g g g g g ." ". g g g g g g g g g g ." ". t t t t t a a a a a ." ". b b b b b b b b b b ." ". b b b b b b b b b b ." ". . . . . . . . . . . .";
  }
  body #root #quote-box #text {
    background-color: #e262a2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-area: g;
  }
  body #root #quote-box #author {
    background-color: cadetblue;
    -ms-grid-row: 5;
    -ms-grid-column: 7;
    -ms-grid-column-span: 5;
    grid-area: a;
  }
  body #root #quote-box button {
    background-color: #00ccff;
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-area: b;
  }
  body #root #quote-box #tweet-quote {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-area: t;
    color: #0099cc;
  }
}
/*# sourceMappingURL=App.css.map */